body{
    display: flex;
    flex-direction: row;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
    width:34px;
    height: 34px;
    border-radius: 50%;
    background-color: black;
    transition: all .5s ease;
}