$font-stack: Karla, sans-serif;

$blue:#00a0ff;
$bg: #ccc;
$black:#000000;
$dark_blue: darken($blue, 5);
$label_color: #ad807d;

$cnt_width:375px;
$cnt_height:667px;

body {
    font-family: $font-stack;
    background: $bg;
}

.container {
    background: linear-gradient($blue 58%, black 42%);     
    width:$cnt_width;
    height: $cnt_height;
    margin: 0 auto; 
    position: relative; 
}

.container:after {
   background: url('./img/Icon.png') no-repeat center 80%, linear-gradient(to left bottom,$blue 52%, $dark_blue 0%, $dark_blue 100% );
   display: block;
   content: '';
   width:100%;
   height:58%;   
}

.chat {
  font-size: 100px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  position: absolute;
  left: -10px;
  letter-spacing: -5px;
  top:-20px;
}

.form-container{
    background:#fff;
    width:325px;
    height: 250px;
    position: absolute;
    top:50%;
    margin: 0 25px;
}

.form-group {
    width:80%; 
    margin:0 auto;
    // background: pink;
}

form {
    padding:40px 0; 
    position: relative;
    letter-spacing: 3px;
}
label{
    display: block;
    text-transform: uppercase;
    font-size:10px;
    font-weight: bold;
    color:$label_color;
    margin-bottom:10px;
}

input{
    border:none;
    border-bottom:1px solid rgba(0,0,0,.2);
    width:100%;
    margin-bottom:30px;
    outline:none;
    font-size:16px;
    padding-bottom:10px;
    font-weight: 100;
}

.form-footer{
    background-color: $blue;
    height:50px;
    padding: 10px 40px;
    font-size:13px;
    color:white;
    display: flex;
}

.form-footer i {
    display:inline-block;
    line-height: 50px;
    margin-right: 132px;
    cursor: pointer;
}

.form-footer button{
    display: inline-block;
    font-size:13px;
    font-weight: bold;
    border:none;
    background:none;
    color:white;
    letter-spacing: 1px;
    cursor: pointer;
}