body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("https://images.unsplash.com/photo-1489781879256-fa824b56f24f");
    background-repeat: no-repeat;
    background-size: cover;
    font-size:10px;
    font-family: 'Play',sans-serif;
}

.App{
    font-size: 2rem;
    color:white;
    text-shadow: 2px 5px 10px black;
}

.App-title{
    font-size:3.5rem;
}

[class^="Clock-"]{
    display: inline;
    padding:5px;
}

.input-date {
    text-align: center;
    margin-top:10px;
}

input {
    display: inline-block;
    margin-right:15px;
    background: transparent;
    border:none;
    border-bottom: 1px solid white;
    padding:10px 10px;
    outline: none;
    color:white;
    font-size:1.5rem;
    line-height: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

button {
    background: transparent;
    border:2px solid white;
    padding:10px;
    border-radius:5px;
    color:white;
    font-size:1.5rem;
    line-height: 1.5rem;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    outline: none;
    transition: all 0.1s ease;
}

button:active{
    border: 2px solid yellow;
    color:yellow;
}

.DayPicker {
    font-size: 1.0rem;
    text-shadow: none;
    color:black;
}